.navbar-inverse {
    background-color:#005580;
    background-image: none;
    background-repeat: no-repeat;
    color:#ffffff;
}	
.navbar-inverse .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}
.navbar-inverse .navbar-nav > li > a:hover{
    text-decoration: none;
    color: #ffffff;
}
.panel{
    margin-top: 138px
}
.float-left{
    float:left;
    margin-left: 15px;
}
.float-right{
    float:right;
    margin-right: 444px;
}
.input-field {
outline: none;
}

.input-field:focus {
border: 2px solid #337ab7;
}
